.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;

  &-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    transition: box-shadow .2s linear, background-color .2s linear;

    &-selected {
      background-color: #e2fcec;
      border: 1px solid #ccc;
    }

    &:hover {
      box-shadow: 0 0 6px 2px #5cb892;
    }

    &:active {
      background-color: #e2fcec;
    }
  }

  p {
    margin: 0;
    font-size: 18px;
    color: black;
  }



}